<form method="POST" action="/newLift">
    <h1>New Lift</h1>
    <h2>Enter your lift details below</h2>
    
    <input type="text" name="name" placeholder="Lift Name" required>
    <input type="number" name="reps" placeholder="Reps" required>
    <input type="number" name="weight" placeholder="Weight (lbs)" required>
    <input type="date" name="date" placeholder="Date" required>
    <button type="submit">Submit</button>
</form>